<div class="row">
	<div class="search col-8">
		<div class="search_form ">
			<%= render partial: 'shared/characters_search_form' %>
		</div>
		<div class="search_result">
			<%= render partial: 'shared/characters_search_result' %>
		</div>
	</div>
	<div class="characters_list col-4">
		<ul>
		<%= render partial: 'shared/characters_list'%>
		</ul>
	</div>
</div>