<form class="form-inline">
	<div class="form-group mb-4 mr-sm-4">
    <label for="region-select" class="my-1 mr-2">Region</label><br />
    <select class="form-control" id="region-select">
      <option>EU</option>
      <option>US</option>
    </select>
  </div>
  <div class="form-group mb-4 mr-sm-4">
    <label for="realm-select" class="my-1 mr-2">Realm</label>
    <%#= select_tag "Realm", options_for_select(@realms), class: "form-control", id: 'realm-select'%>
    <select class="form-control" id="realm-select">
      <option>Fordragon</option>
      <option>Illidan</option>
      <option>Lich King</option>
    </select>
  </div>
  <div class="form-group mb-4 mr-sm-4">
      <label for="character-field" class="my-1 mr-2">Character</label>
      <input type="text" class="form-control" id="character-field">
  </div>
  <button class="btn btn-primary mb-4" type="submit">search</button>
</form>