<footer class="footer navbar-dark bg-dark fixed-bottom">
  <div class="container">
  	<br />
    <div class="col-md-4">
      <h4><b>ETC</b> </h4>
	    <ul class="list-unstyled navbar-nav">
	    	<li> <a href="/" class="nav-link"> Home </a></li>
	    	<li> <a href="/about" class="nav-link"> About </a></li>
	    	<li> <a href="/faq" class="nav-link"> FAQ </a></li>
	    </ul>
    </div>
    <br />
  </div>
</div>